* {
  box-sizing: border-box; }

body {
  margin: 0;
  height: 100vh;
  background: #f2f2f2; }

.wrap {
  margin: 0;
  height: 80%;
  display: grid;
  place-content: center;
  font-family: "Montserrat";
  font-weight: bold;
  color: #6d2bd8; }

.inner {
  padding: 0.5em;
  border-radius: 0.3em;
  width: 200px;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.08), -7px -7px 5px rgba(255, 255, 255, 0.8);
  border: 2px solid #ebebeb; }
  .inner input[type="checkbox"] {
    display: none;
    pointer-events: none; }
    .inner input[type="checkbox"] + label {
      cursor: pointer;
      font-size: 0.8em;
      display: grid;
      grid-template-columns: auto 3fr; }
      .inner input[type="checkbox"] + label svg {
        width: 2em;
        stroke: white;
        stroke-width: 2;
        background-color: #6d2bd8;
        border-radius: 0.3em; }
        .inner input[type="checkbox"] + label svg .box {
          stroke-dasharray: 200;
          stroke-dashoffset: 0;
          fill: #6d2bd8;
          transition: stroke-dashoffset 0.3s linear; }
        .inner input[type="checkbox"] + label svg .chk {
          stroke-dasharray: 105;
          stroke-dashoffset: 105;
          fill: none;
          transition: stroke-dashoffset 0.3s linear; }
      .inner input[type="checkbox"] + label span {
        padding-top: 0.3em;
        margin-left: 0.3em; }
    .inner input[type="checkbox"]:checked + label .box {
      stroke-dashoffset: 200; }
    .inner input[type="checkbox"]:checked + label .chk {
      stroke-dashoffset: 0; }
