<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <style>
    body {
      padding: 50px;
    }
  </style>
  <title>Deno Dashboard</title>
</head>

<body>
  <div class="container" style="max-width: 30rem">
    <h1>Deno Dashboard</h1>
    <form action="/logout" method="POST">
        <input type="submit" value="logout" class="btn btn-danger ml-3">
    </form>

    <div>
        Done. This is deno...;;
    </div>
  </div>
</body>

</html>