{% extends 'layout.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock head %}

{% block contents %}
  <section id="wrapper">
    <div class="inner">
      {% if user_profile %}
        <aside class="left_box">
          <div class="my_name">
            <a href="#">
              <div class="profile_img">
                <img src="{{ user_profile.picture.url }}" alt="profile">
              </div>
              <span class="name">{{ user_profile.nick }}</span>
              <span class="icon icon--more"></span>
            </a>
          </div>
          <ul class="list">
            <li class="active">
              <a href="{% url 'post:post_list' %}">
                <span class="icon icon--news"></span>
                <span>NewsFeed</span>
                <span class="icon icon--more"></span>
              </a>
            </li>
            <li>
              <a href="{% url 'bookmark_friends:bookmark_friends_list' %}#friends">
                <span class="icon icon--messenger"></span>
                <span>Messenger</span>
                <span class="icon icon--more"></span>
              </a>
            </li>
            <li>
              <a href="{% url 'bookmark_friends:bookmark_friends_list' %}#bookmark">
                <span class="icon icon--save"></span>
                <span>Save</span>
                <span class="icon icon--more"></span>
              </a>
            </li>
          </ul>
        </aside>
      {% endif %}

      <section class="middle_box" id="contents_container">
        <input type="hidden" name="page" id="page" value="1"/>
        {% if user_profile %}
          <article class="create_box">
            <h2 class="title">Create some articles</h2>
            <div class="text_field">
              <form action="" method="POST">
                <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                <header class="top">
                  <div class="profile_img">
                    <img src="{{ user_profile.picture.url }}" alt="profile">
                  </div>
                  <p>
                    <textarea name="content" id="text_field" cols="50" rows="5" data-name="add" placeholder="What do you think?"></textarea>
                  </p>
                </header>
                <div class="middle">
                  <canvas id="imageCanvas" width="0" height="0"></canvas>
                </div>
                <div class="bottom">
                  <input type="file" name="photo" id="id_photo" required="required" accept="image/*"/>
                  <div class="import-btn">
                    <label for="id_photo" id="photo_label">
                      <i class="icon icon--picture"></i>
                      <span>picture/movie</span>
                    </label>
                  </div>
                </div>
                <footer class="submit">
                  <input type="submit" value="POST" id="submitBtn" disabled="disabled"/>
                </footer>
              </form>
            </div>
          </article>
        {% endif %}

        <div class="contents_wrapper contents">
          {% for post in posts %}
            <article class="contents">
              <header>
                {% if user_profile %}
                  <div class="profile_container">
                    <div class="profile_img">
                      <img src="{{ post.author.profile.picture.url }}" alt="profile">
                    </div>
                    <div>
                      <div class="name">
                        <a href="{{ post.author.profile.nick }}">{{ post.author.profile.nick }}</a>
                      </div>
                      <div class="time">{{ post.created_at|timesince }}</div>
                    </div>
                    <div class="more" data-name="more">
                      <i class="icon icon--more"></i>
                      <ul class="hidden_menu">
                        <li>
                          {% if post.author in my_friend_user_list %}
                            <button>unfollow</button>
                          {% elif post.author in my_friend_request_user_list %}
                            <button class="friend_request" data-name="cancel_add_friend" name="{{ post.author.profile.user.id }}">
                              cancel requesting
                            </button>
                          {% else %}
                            <button class="friend_request" data-name="friend_request" name="{{ post.author.profile.user.id }}">
                              add friend
                            </button>
                          {% endif %}
                        </li>
                        <li class="bookmark" data-name="bookmark" name="{{ post.id }}">
                          {% if user in post.bookmark_user_set.all %}
                            <span>saved</span>
                          {% else %}
                            <span>save</span>
                          {% endif %}
                        </li>
                        <li>
                          <a href="/edit.html">edit</a>
                        </li>
                        <li>
                          <form action="">
                            <input type="button" value="delete"/>
                          </form>
                        </li>
                      </ul>
                    </div>
                  </div>
                {% endif %}
              </header>

              <figure class="main_article">
                {{ post.content }}
              </figure>

              {% if post.photo %}
                <div class="img_section">
                  <a href="#">
                    <img src="{{ post.photo.url }}" alt="{{ post.photo }}"/>
                  </a>
                </div>
              {% endif %}

              <div class="ajax-section ajax_field">
                <div class="like">
                  <span>LIKE</span>
                  <span class="like_count" id="like-count-{{ post.id }}">{{ post.like_count }}</span>
                </div>
                <div class="comment">
                  <span>comment</span>
                  <span class="comment_count" id="comment-count-{{ post.id }}">
                    {{ post.comment_set.count }}
                  </span>
                </div>
              </div>

              <div class="btn-section btn_container">
                <div class="like-btn {% if user in post.like_user_set.all %} active {% endif %}" data-name="like" name="{{ post.id }}">
                  <i class="icon icon--like-line"></i>
                  <span>LIKE</span>
                </div>
                <div class="comment-btn active" data-name="comment" name="{{ post.id }}">
                  <i class="icon icon--comment-line"></i>
                  <span>COMMENT</span>
                </div>
              </div>

              <div class="comment_section comment_container">
                <div class="comment" id="comment-list-ajax-post{{ post.id }}">
                  {% for comment in post.comment_set.all %}
                    <div class="comment-detail" id="comment{{ comment.id }}">
                      <div class="id">
                        <div class="profile_img">
                          <img src="{{ comment.author.profile.picture.url }}" alt="{{ comment.author.profile.nick }}"/>
                        </div>
                        <div class="comment-field">
                          <div class="text-container">
                            <span class="name">
                              <a href="/profile/{{ comment.author.profile.nick }}">{{ comment.author.profile.nick }}</a>
                            </span>
                            <p class="text_field">{{ comment.content }}</p>
                          </div>
                        </div>
                        <div class="time">{{ comment.created_at|timesince }}
                          ago</div>
                        {% if comment.author == user %}
                          <input type="button" class="delete" data-name="comment_delete" value="X" name="{{ comment.id }}"/>
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>

              <div class="comment_input" id="add-comment-post{{post.id}}">

                {% if user.is_authenticated %}
                  <div class="profile_img">
                    <img src="{{ user_profile.picture.url }}" alt="{{ user_profile.nick }} profile">
                  </div>
                  <div class="input_container">
                    {{ comment_form }}
                    <button class="send">
                      <span class="icon--send" name="{{ post.id }}" data-name="comment"></span>
                    </button>
                  </div>
                {% endif %}

              </div>

            </article>
          {% endfor %}

          <div id="post_list_ajax">
            {% include "post/script_ajax.html" %}
          </div>

        </div>
      </section>

      {% if user_profile %}
        <section class="right_box">
          <header class="title">Profile</header>
          <div class="profile-content right_profile">
            <div class="profile_img">
              <img src="{{ user_profile.picture.url }}" alt="profile"/>
            </div>
            <div class="detail">
              <p class="name">sunday00</p>
              <p class="message">
                <i class="icon icon--write-gray"></i>
                <span>Message</span>
              </p>
            </div>
          </div>
        </section>
      {% endif %}
    </div>
  </section>

  {% if user_profile %}
    <aside id="side_box">
      <ul>
        {% for friend in friends %}
          <li>
            <div class="profile_img">
              <img src="{{ friend.user.profile.picture.url }}" alt="{{ friend.user.profile.nick }}">
            </div>
            <span class="name">{{ friend.user.profile.nick }}</span>
            <span class="light"></span>
          </li>
        {% endfor %}
      </ul>
    </aside>
  {% endif %}
{% endblock contents %}

{% block js %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/new_post.js' %}"></script>
{% endblock js %}
