<!-- unibeautify:disable  -->
<script>
  (function () {
    const delegation = document.querySelector('#contents_container');
    const textField = document.querySelector('#text_field');

    function delegationFunc(e) {
      let elem = e.target;

      while (!elem.getAttribute('data-name')) {
        elem = elem.parentNode;

        if (elem.nodeName === 'BODY') {
          elem = null;
          return;
        }
      }

      if (elem.matches('[data-name="like"]')) {
        let pk = elem.getAttribute('name');

        $.post(`{% url 'post:post_like' %}`, 
          {
            pk: pk,
            csrfmiddlewaretoken: '{{ csrf_token }}',
          }
        ).then(res => {
          document.querySelector(`#like-count-${pk}`).textContent = res.like_count;
          elem.classList.toggle('active');
        }).catch(err => {
          console.log(err);
        });
      }

      if (elem.matches('[data-name="bookmark"]')) {
        let pk = elem.getAttribute('name');

        $.post(`{% url 'post:post_bookmark' %}`, 
          {
            pk: pk,
            csrfmiddlewaretoken: '{{ csrf_token }}',
          }
        ).then(res => {
          elem.firstElementChild.textContent = res.is_bookmarked === 'Y' ? 'saved' : 'save';
        }).catch(err => {
          console.log(err);
        });
      }

      if (elem.matches('[data-name="friend_request"]')) {
        let pk = elem.getAttribute('name');

        $.post(`{% url 'accounts:create_friend_request' %}`, 
          {
            pk: pk,
            csrfmiddlewaretoken: '{{ csrf_token }}',
          }
        ).then(res => {
          elem.dataset.name = 'cancel_add_friend';
          elem.textContent = 'cancel requesting';
        }).catch(err => {
          console.log(err);
        });
      }

      if (elem.matches('[data-name="cancel_add_friend"]')) {
        let to_user = elem.getAttribute('name');

        $.post(`{% url 'accounts:cancel_add_friend' %}`, 
          {
            to_user: to_user,
            csrfmiddlewaretoken: '{{ csrf_token }}',
          }
        ).then(res => {
          elem.dataset.name = 'friend_request';
          elem.textContent = 'add friend';
        }).catch(err => {
          console.log(err);
        });
      }

      if (elem.matches('[data-name="comment"]')) {
        let to_user = elem.getAttribute('name');

        const content = elem.parentNode.parentNode.querySelector('input');

        if( content.value.length == 0 || content.value.length > 40 ) {
          return ;
        }

        $.post(`{% url 'post:comment_new' %}`, 
          {
            pk: elem.getAttribute('name'),
            content: content.value,
            csrfmiddlewaretoken: '{{ csrf_token }}',
          }
        ).then(res => {
          const template = `
            <div class="comment-detail" id="comment${ res.comment.id }">
              <div class="id">
                <div class="profile_img">
                  <img src="{{ user_profile.picture.url }}" alt="{{ user_profile.picture.url }}"/>
                </div>
                <div class="comment-field">
                  <div class="text-container">
                    <span class="name">
                      <a href="/profile/{{ user_profile.nick }}">{{ user_profile.nick }}</a>
                    </span>
                    <p class="text_field">${ res.comment.content }</p>
                  </div>
                </div>
                <div class="time">few seconds ago</div>
                  <input type="button" class="delete" data-name="comment_delete" value="X" name="${ res.comment.id }"/>
              </div>
            </div>
          `;
          document.querySelector(`#comment-list-ajax-post${res.post}`).insertAdjacentHTML('beforeend', template);
          document.querySelector(`#comment-count-${res.post}`).textContent = ' ' + document.querySelector(`#comment-count-${res.post}`).textContent -0 + 1 + ' '
          content.value = '';
        }).catch(err => {
          console.log(err);
        });
      }

      if (elem.matches('[data-name="comment_delete"]')){
        $.post(`{% url 'post:comment_delete' %}`, {
          pk: elem.getAttribute('name'),
          csrfmiddlewaretoken: '{{ csrf_token }}',
        }).then(res => {
          elem.closest('.comment-detail').remove();
          document.querySelector(`#comment-count-${res.post}`).textContent = ' ' + document.querySelector(`#comment-count-${res.post}`).textContent - 1 + ' ';
        }).catch(err => {
          console.log(err);
        });
      }

    }

  delegation.addEventListener('click', delegationFunc);
})();
</script>
