<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS</title>
</head>
<body>
  <section class="container">
    <h1>HOME</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere maxime eligendi adipisci ipsum delectus aut ipsam animi nostrum eum. Doloribus maxime atque in cupiditate! Ex totam voluptate placeat facilis voluptatum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere maxime eligendi adipisci ipsum delectus aut ipsam animi nostrum eum. Doloribus maxime atque in cupiditate! Ex totam voluptate placeat facilis voluptatum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere maxime eligendi adipisci ipsum delectus aut ipsam animi nostrum eum. Doloribus maxime atque in cupiditate! Ex totam voluptate placeat facilis voluptatum.</p>
  </section>
</body>
</html>