$color-white: #ececfe;
$color-dark: #111142;

$color-lighter: #a0f0cc;
$color-primary: #42b883;
$color-darker: #248056;

$size-ss: 0.7em;
$size-xs: 0.85em;
$size-sm: 0.9em;
$size-md: 1em;
$size-lg: 1.2em;
$size-xl: 1.5em;
$size-2x: 2em;
