<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>spring</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>

<main class="container">
    <form action="/submit-checkout" method="post">
        <label>
            id
            <input type="text" name="memberId" value="100001">
        </label>
        <label>
            product
            <input type="text" name="productId" value="99999">
        </label>
        <label>
            amount
            <input type="text" name="amount" value="33000">
        </label>
        <label>
            id
            <input type="text" name="shippingAddress" value="suwon paldal">
        </label>

        <input type="submit" value="OK" />
    </form>
</main>

</body>
</html>


