
.icon:hover {
    opacity: 1;
}

.icon {
    margin-right: 10px;
}


.icon--send {
    display: inline-block;
    background: url('../imgs/bg04.png') no-repeat -433px -246px;
    width: 18px;
    height: 16px;
}


.icon--main-logo {
    display: inline-block;
    background: url('../imgs/bg03.png') no-repeat 0 -33px;
    width: 24px;
    height: 24px;
}


.icon--news {
    display: inline-block;
    background: url('../imgs/bg01.png') no-repeat -1px -964px;
    width: 18px;
    height: 18px;
}

.icon--picture {
    display: inline-block;
    background: url('../imgs/bg01.png') no-repeat -1px -1090px;
    width: 19px;
    height: 18px;
}


.icon--messenger {
    display: inline-block;
    background: url('../imgs/bg01.png') no-repeat 0 -249px;
    width: 20px;
    height: 20px;
}

.icon--save {
    display: inline-block;
    background: url('../imgs/bg01.png') no-repeat -1px -396px;
    width: 16px;
    height: 20px;
}


.icon--search-black {
    display: inline-block;
    background: url('../imgs/bg02.png') no-repeat 0 -949px;
    width: 14px;
    height: 14px;
}


.icon--search-white {
    display: inline-block;
    background: url('../imgs/bg02.png') no-repeat 0 -964px;
    width: 14px;
    height: 14px;
}


.icon--people-black {
    display: inline-block;
    background: url('../imgs/bg02.png') no-repeat -2px -791px;
    width: 20px;
    height: 18px;
    opacity: .6;
}

.icon--people-white {
    display: inline-block;
    background: url('../imgs/bg02.png') no-repeat -2px -766px;
    width: 20px;
    height: 18px;
}

.icon--bell-black {
    display: inline-block;
    background: url('../imgs/bg02.png') no-repeat -3px -188px;
    width: 20px;
    height: 24px;
    opacity: .6;
}


.icon--question-black {
    display: inline-block;
    background: url('../imgs/bg03.png') no-repeat -2px -135px;
    width: 20px;
    height: 20px;
    opacity: .6;
}

.icon--question-white {
    display: inline-block;
    background: url('../imgs/bg03.png') no-repeat 0 -313px;
    width: 20px;
    height: 20px;
}


.icon--messenger--black {
    display:inline-block;
    background: url('../imgs/bg02.png') no-repeat 0 -13px;
    width: 24px;
    height: 24px;
    opacity: .6;
}

.icon--chart--black {
    display:inline-block;
    background: url('../imgs/bg06.png') no-repeat -104px -2440px;
    width: 28px;
    height: 17px;
    opacity: .6;
}


.icon--facebook-white {
    display: inline-block;
    background: url('../imgs/bg03.png') no-repeat 0 -33px;
    width: 24px;
    height: 24px;
}

.icon--more {
    display: inline-block;
    background: url('../imgs/bg03.png') no-repeat -2px -300px;
    width: 16px;
    height: 4px;
}


.icon--comment-line {
    display: inline-block;
    background: url('../imgs/bg04.png') no-repeat -414px -246px;
    width: 17px;
    height: 17px;
}


.icon--share-line {
    display: inline-block;
    background: url('../imgs/bg04.png') no-repeat -433px -246px;
    width: 18px;
    height: 16px;

}

.icon--write-gray {
    display: inline-block;
    background: url('../imgs/bg04.png') no-repeat -206px -282px;
    width: 12px;
    height: 12px;
}


.icon--like-line {
    display: inline-block;
    background: url('../imgs/bg05.png') no-repeat -38px -422px;
    width: 18px;
    height: 18px;
}

.icon--like-fill {
    display: inline-block;
    background: url('../imgs/bg05.png') no-repeat 0 -422px;
    width: 17px;
    height: 18px;
}



.icon--arrow-right {
    display: inline-block;
    background: url('../imgs/bg06.png') no-repeat -136px -2433px;
    width: 16px;
    height: 30px;
}

.icon--arrow-top {
    display: inline-block;
    background: url('../imgs/bg06.png') no-repeat -1px -2466px;
    width: 30px;
    height: 16px;
}