#wrapper {
  width: 1012px;
  margin: 0 auto;
  padding-right: 205px;
  position: relative;
  top: 52px; }
  #wrapper .inner {
    width: 100%;
    position: relative; }
    #wrapper .inner .left-box {
      position: fixed;
      top: 52px;
      width: 180px;
      height: 500px;
      font-size: 1.05rem; }
    #wrapper .inner .middle-box {
      max-width: 500px;
      position: relative; }
    #wrapper .inner .right-box {
      position: fixed;
      width: 258px;
      background-color: #fff;
      top: 52px;
      border-radius: 3px;
      padding-bottom: 20px; }

#wrapper .inner .left-box .my-name {
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 15px; }
  #wrapper .inner .left-box .my-name > a {
    display: flex;
    align-items: center; }
    #wrapper .inner .left-box .my-name > a:hover .icon--more, #wrapper .inner .left-box .my-name > a.active .icon--more {
      display: inline-block; }

#wrapper .inner .left-box .list > li {
  padding: 5px 10px;
  margin-bottom: 2px;
  border: 1px solid transparent; }
  #wrapper .inner .left-box .list > li:hover, #wrapper .inner .left-box .list > li.active {
    border-color: #dddfe2;
    background-color: var(--fds-gray-00); }
    #wrapper .inner .left-box .list > li:hover .icon--more, #wrapper .inner .left-box .list > li.active .icon--more {
      display: inline-block; }
  #wrapper .inner .left-box .list > li a {
    display: flex;
    align-items: center; }

#wrapper .inner .left-box .icon--more {
  margin-left: auto;
  display: none; }

#wrapper .inner .middle-box .create-box {
  background-color: #fff;
  margin-bottom: 10px;
  border: 1px solid var(--fds-gray-20);
  border-radius: 3px; }
  #wrapper .inner .middle-box .create-box .title {
    color: var(--fds-gray-90);
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: var(--fds-gray-20);
    border-bottom: 1px solid var(--fds-gray-30);
    border-radius: 2px 2px 0 0; }
  #wrapper .inner .middle-box .create-box .text-field-wrap .top {
    display: flex;
    align-items: center;
    color: var(--fds-black-alpha-60);
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--fds-gray-30); }
    #wrapper .inner .middle-box .create-box .text-field-wrap .top .profile-img {
      margin-right: 20px; }
    #wrapper .inner .middle-box .create-box .text-field-wrap .top p {
      width: 100%; }
    #wrapper .inner .middle-box .create-box .text-field-wrap .top textarea#text-field {
      border: none;
      height: 24px;
      width: 90%;
      resize: none;
      font-size: 1.2rem;
      outline: none; }
  #wrapper .inner .middle-box .create-box .text-field-wrap .middle #imageCanvas {
    padding: 0.5rem 1rem; }
  #wrapper .inner .middle-box .create-box .text-field-wrap .bottom {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--fds-gray-70);
    padding: 0.5rem 1rem; }
    #wrapper .inner .middle-box .create-box .text-field-wrap .bottom #photo-id {
      display: none; }
    #wrapper .inner .middle-box .create-box .text-field-wrap .bottom .import-btn {
      border-radius: 30px;
      background-color: var(--fds-gray-30);
      color: var(--fds-white);
      padding: 5px 10px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      #wrapper .inner .middle-box .create-box .text-field-wrap .bottom .import-btn #photo-label {
        display: flex;
        align-items: center; }
      #wrapper .inner .middle-box .create-box .text-field-wrap .bottom .import-btn:hover {
        background-color: var(--fds-gray-45); }
  #wrapper .inner .middle-box .create-box .text-field-wrap .submit {
    border-top: 1px solid var(--fds-gray-30);
    text-align: center;
    padding: 0.5rem 1rem; }
    #wrapper .inner .middle-box .create-box .text-field-wrap .submit input {
      width: 100%;
      height: 1.5rem;
      border-radius: 3px;
      background-color: var(--fds-blue-70);
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      outline: none;
      border: none; }
      #wrapper .inner .middle-box .create-box .text-field-wrap .submit input:disabled {
        display: none;
        background-color: var(--fds-blue-30); }

#wrapper .inner .middle-box .contents {
  background-color: #fff;
  margin-bottom: 10px;
  border: 1px solid var(--fds-gray-30);
  border-radius: 3px;
  color: var(--fds-gray-70);
  font-size: 1.2rem;
  font-weight: bold; }
  #wrapper .inner .middle-box .contents header {
    position: relative;
    padding: 0.5rem 1rem; }
    #wrapper .inner .middle-box .contents header .profile-container {
      display: flex;
      align-items: center; }
      #wrapper .inner .middle-box .contents header .profile-container .name {
        color: var(--fds-blue-70);
        font-size: 1.4rem;
        margin-bottom: 0.5rem; }
      #wrapper .inner .middle-box .contents header .profile-container .time {
        font-size: 0.8rem;
        color: var(--fds-gray-80); }
      #wrapper .inner .middle-box .contents header .profile-container .profile-img {
        width: 2.2rem;
        height: 2.2rem; }
      #wrapper .inner .middle-box .contents header .profile-container .more {
        margin-left: auto;
        cursor: pointer;
        padding: 0.8rem 0;
        position: relative; }
        #wrapper .inner .middle-box .contents header .profile-container .more .hidden-menu {
          position: absolute;
          right: 2rem;
          top: 2rem;
          width: 130px;
          border-radius: 3px;
          border: 1px solid var(--fds-gray-20);
          display: none; }
          #wrapper .inner .middle-box .contents header .profile-container .more .hidden-menu.active {
            display: block;
            box-shadow: 2px 2px 5px var(--fds-gray-30); }
          #wrapper .inner .middle-box .contents header .profile-container .more .hidden-menu li {
            padding: 0.5rem 1rem;
            background-color: #fff;
            text-align: center;
            border-bottom: 1px solid var(--fds-gray-10); }
            #wrapper .inner .middle-box .contents header .profile-container .more .hidden-menu li:hover {
              background-color: var(--fds-gray-10); }
            #wrapper .inner .middle-box .contents header .profile-container .more .hidden-menu li * {
              background: transparent;
              border: none;
              outline: none;
              font-size: 1rem;
              line-height: 1rem;
              font-weight: bolder;
              cursor: pointer;
              color: var(--fds-gray-70); }
  #wrapper .inner .middle-box .contents .main-article {
    padding: 0.5rem 1rem;
    color: var(--fds-gray-90);
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: normal; }
  #wrapper .inner .middle-box .contents .img-section {
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid var(--fds-gray-10); }
    #wrapper .inner .middle-box .contents .img-section img {
      width: 100%; }
  #wrapper .inner .middle-box .contents .ajax-section {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between; }
  #wrapper .inner .middle-box .contents .btn-section {
    display: flex;
    height: 2.5rem;
    border-top: 1px solid var(--fds-gray-10);
    border-bottom: 1px solid var(--fds-gray-10);
    margin: 0 0.8rem; }
    #wrapper .inner .middle-box .contents .btn-section > div {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center; }
      #wrapper .inner .middle-box .contents .btn-section > div:hover {
        background-color: var(--fds-gray-10);
        cursor: pointer; }
  #wrapper .inner .middle-box .contents .comment-section {
    padding: 0.5rem 1rem; }
    #wrapper .inner .middle-box .contents .comment-section .id {
      display: flex;
      margin-bottom: 10px;
      align-items: center; }
      #wrapper .inner .middle-box .contents .comment-section .id .text-container {
        display: flex;
        align-items: center; }
      #wrapper .inner .middle-box .contents .comment-section .id .name {
        color: var(--fds-blue-70);
        margin: auto 0.5rem; }
      #wrapper .inner .middle-box .contents .comment-section .id .text-field {
        display: flex;
        padding: 10px;
        background-color: var(--fds-gray-05);
        border-radius: 30px;
        font-weight: 300; }
      #wrapper .inner .middle-box .contents .comment-section .id .delete {
        margin-left: auto;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none; }
  #wrapper .inner .middle-box .contents .comment-input {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center; }
    #wrapper .inner .middle-box .contents .comment-input .input-container {
      width: 100%;
      padding: 7px 0;
      background-color: var(--fds-gray-05);
      border: 1px solid var(--fds-gray-30);
      border-radius: 30px;
      position: relative; }
      #wrapper .inner .middle-box .contents .comment-input .input-container input {
        width: 85%;
        height: 100%;
        line-height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        margin-left: 0.8rem; }
      #wrapper .inner .middle-box .contents .comment-input .input-container button {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer; }

#wrapper .inner .right-box .title {
  padding: 0.5rem 1rem;
  font-size: 0.5rem 1rem;
  color: var(--fds-gray-80);
  border-bottom: 1px solid var(--fds-gray-30); }

#wrapper .inner .right-box .profile-content {
  display: flex;
  padding: 1.2rem;
  align-items: center;
  border-bottom: 1px solid var(--fds-gray-30);
  margin: 0 10px; }
  #wrapper .inner .right-box .profile-content .profile-img {
    width: 2rem;
    height: 2rem; }
  #wrapper .inner .right-box .profile-content .profile-detail .name {
    color: var(--blue-link);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px; }
  #wrapper .inner .right-box .profile-content .profile-detail .message {
    color: var(--fds-gray-45);
    font-size: 1.1rem;
    font-weight: 300; }

#side-box {
  width: 190px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 52px;
  border-left: 1px solid var(--fds-gray-30); }
  #side-box ul {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto; }
    #side-box ul li {
      display: flex;
      padding: 0.5rem 1rem;
      align-items: center; }
      #side-box ul li:hover {
        background-color: var(--fds-gray-25);
        box-shadow: 1px 0 0 var(--fds-gray-10) inset; }
      #side-box ul li .profile-img {
        width: 1.3rem;
        height: 1.3rem; }
      #side-box ul li .light {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--fds-green-55);
        margin-left: auto; }

@media screen and (max-width: 1240px) {
  #wrapper {
    padding-right: 0;
    width: 90%;
    margin: 0 auto; }
    #wrapper #contents-container {
      position: static;
      left: 0;
      margin: 0 auto; }
  #wrapper .left-box, #wrapper .right-box, #side-box {
    display: none; } }
