{% extends 'layout.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/save.css' %}">
{% endblock head %}

{% block contents %}
  <section id="wrapper">
    <div class="inner">
      {% if user_profile %}
        <aside class="left_box">
          <div class="my_name">
            <a href="#">
              <div class="profile_img">
                <img src="{{ user_profile.picture.url }}" alt="profile">
              </div>
              <span class="name">{{ user_profile.nick }}</span>
              <span class="icon icon--more"></span>
            </a>
          </div>
          <ul class="list">
            <li class="">
              <a href="{% url 'post:post_list' %}">
                <span class="icon icon--news"></span>
                <span>NewsFeed</span>
                <span class="icon icon--more"></span>
              </a>
            </li>
            <li class="friend-li">
              <a href="{% url 'bookmark_friends:bookmark_friends_list' %}#friends" data-current="friends">
                <span class="icon icon--messenger"></span>
                <span>Messenger</span>
                <span class="icon icon--more"></span>
              </a>
            </li>
            <li class="bookmark-li active">
              <a href="{% url 'bookmark_friends:bookmark_friends_list' %}#bookmark" data-current="bookmark">
                <span class="icon icon--save"></span>
                <span>Save</span>
                <span class="icon icon--more"></span>
              </a>
            </li>
          </ul>
        </aside>
      {% endif %}

      <section class="middle_box" id="contents_container">
        <div id="save">
          {% for post in post_list %}
            {% for bookmark_user in post.bookmark_user_set.all %}
              {% if user == bookmark_user.profile.user %}
                <article class="contents">
                  <div class="thumbnail">
                    {% if post.photo %}
                      <img src="{{ post.photo.url }}" alt=""/>
                    {% else %}
                      <img src="{% static 'imgs/profile/noun_User.png' %}" alt="no image">
                    {% endif %}
                  </div>
                  <div>
                    <h1 class="heading">wrote by
                      {{ post.author.username }}</h1>
                    <p class="description">
                      {{ post.content }}
                    </p>
                  </div>
                </article>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>

        <div id="friends" class="hidden">
          <input type="hidden" name="ajax_accept" value="{% url 'accounts:accept_friend_request' %}">
          <input type="hidden" name="ajax_deny" value="{% url 'accounts:deny_friend_request' %}">
          <input type="hidden" name="ajax_cancel" value="{% url 'accounts:cancel_add_friend' %}">
          <input type="hidden" name="ajax_unfollow" value="{% url 'accounts:unfollow_friend' %}">
          {% csrf_token %}
          {% for friend_request in myFriend_requests %}
            <article class="contents">
              <div class="thumbnail">
                {% if friend_request.to_user.profile.picture %}
                  <img src="{{ friend_request.to_user.profile.picture.url }}" alt="{{ friend_request.to_user.profile.nick }}">
                {% else %}
                  <img src="{% static 'imgs/profile/noun_User.png' %}" alt="no image">
                {% endif %}
              </div>
              <div class="right_contents">
                <h1 class="heading">Waiting for accepting request to [
                  {{ friend_request.to_user.username }}
                  ]</h1>
                <div class="btn_container">
                  <button class="cancel" data-name="friend_cancel" data-to_user="{{ friend_request.to_user.id }}">cancel</button>
                </div>
              </div>
            </article>
          {% endfor %}
          {% for friend_request in friends_requests %}
            <article class="contents">
              <div class="thumbnail">
                {% if friend_request.from_user.profile.picture %}
                  <img src="{{ friend_request.from_user.profile.picture.url }}" alt="{{ friend_request.from_user.profile.nick }}">
                {% else %}
                  <img src="{% static 'imgs/profile/noun_User.png' %}" alt="no image">
                {% endif %}
              </div>
              <div class="right_contents">
                <h1 class="heading">{{ friend_request.from_user.username }}
                  requests friend</h1>
                <div class="btn_container">
                  <button class="agree" data-name="friend_accept" data-req-id="{{ friend_request.id }}">AGREE</button>
                  <button class="deny" data-name="friend_deny" data-req-id="{{ friend_request.id }}">DENY</button>
                </div>
              </div>
            </article>
          {% endfor %}
          {% for friend in friends %}
            <article class="contents">
              <div class="thumbnail">
                {% if friend.user.profile.picture %}
                  <img src="{{ friend.user.profile.picture.url }}" alt="{{ friend.user.profile.nick }}">
                {% else %}
                  <img src="{% static 'imgs/profile/noun_User.png' %}" alt="no image">
                {% endif %}
              </div>
              <div class="right_contents">
                <h1 class="heading">{{ friend.user.profile.nick }}</h1>
                <div class="btn_container">
                  <button class="unfollow" data-name="friend_unfollow" data-friend="{{ friend.user.id }}">unfollow</button>
                </div>
              </div>
            </article>
          {% endfor %}
        </div>
      </section>

    </div>
  </section>

  {% if user_profile %}
    <aside id="side_box">
      <ul>
        {% for friend in friends %}
          <li>
            <div class="profile_img">
              {% if friend.user.profile.picture %}
                <img src="{{ friend.user.profile.picture.url }}" alt="{{ friend.user.profile.nick }}">
              {% else %}
                <img src="{% static 'imgs/profile/noun_User.png' %}" alt="no image">
              {% endif %}
            </div>
            <span class="name">{{ friend.user.profile.nick }}</span>
            <span class="light"></span>
          </li>
        {% endfor %}
      </ul>
    </aside>
  {% endif %}
{% endblock contents %}

{% block js %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/save.js' %}"></script>
{% endblock js %}
