<%- include('../partials/head') %>

<article class="container	continer-md my-5">
  <h1>TEST FORM</h1>
  <form action="/form/tacos" method="POST">
    <input type="text" name="meat">
    <input type="number" name="qty">
    <input type="submit" value="SUBMIT">
  </form>
</article>

<%- include('../partials/footer') %>
  