@import url('./reset.css');

.container {
    display: flex;
}
.container:nth-of-type(2) {
    display: inline-flex;
}

.container:nth-of-type(3) {
    flex-wrap: no-wrap;
    width: 200px;
}
.container:nth-of-type(4) {
    flex-wrap: wrap;
    width: 200px;
}

.container:nth-of-type(5){
    flex-wrap: wrap;
    position: relative;
    align-items:stretch;
    height: 500px;
    .item{
        width: calc(100% / 3);
    }
}
.container:nth-of-type(6){
    flex-wrap: wrap;
    position: relative;
    align-content:space-between;
    // NOTE: not align-items... careful.
    height: 500px;
    .item{
        width: calc(100% / 3);
    }
}

.container:nth-of-type(7){
    .item{
        flex-basis: 100px;
        //NOTE: like minimum direction size;
    }
}
.container:nth-of-type(8){
    .item{
        flex-grow: 1;
    }
}
.container:nth-of-type(9){
    .item{
        flex-grow: 1;
    }
    .item:nth-child(2){
        flex-grow: 2;
        //NOTE: not divide by there width size.
        // they divide there remains width before flex-basis assign.
    }
}

.container:nth-of-type(10){
    .item{
        flex: 1 100px;
    }
}
.container:nth-of-type(11){
    white-space: nowrap;

    .item{
        flex: 1 1 40%;
    }
}
.container:nth-of-type(12){
    .item{
        flex-grow: 1;
    }
}

@media (min-width: 600px) {
    .container:nth-of-type(12){
        flex-wrap: wrap;
        .item{
            flex-basis: 50%;
        }
    }
}

.container:nth-of-type(13){
    width: 500px;
    margin: 0 auto;
    .item:nth-child(3){
        margin-left: auto;
    }
}

.container:nth-of-type(14){
    flex-direction: column;
    min-height: 100vh;

    .content{
        width: 80%;
        flex: 1 auto;
        margin: 20px auto;
        font-size: 1.4rem;
    }
}

.container:nth-of-type(15){
    height: 300px;
    justify-content: center;
    align-items: center;

    .item:nth-child(2){
        align-self: stretch;
        display: flex;
        align-items: center;
    }
}