:root{
  --color-normal: #333;
  --color-error: red;

  --text-normal-size: 18px;
}

body{
  color: var(--color-normal);
  font-size: var(--text-normal-size);
}

nav ul li {
  list-style-type: none;
}

.dataTables_filter {
  display: flex;
  justify-content: flex-end;
}