<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>django-crash</title>
    {% block commonStyle %}{% endblock commonStyle %}
  </head>

  <body>
    {% block header %}{% endblock header %}
    <main>
      {% block title %}{% endblock title %}
      {% block contents %}{% endblock contents %}
    </main>

    {% block footer %}{% endblock footer %}
  </body>

</html>
