{% extends 'base.html' %}

{% load static %}

{% block commonStyle %}
  <style>
    img {
      width: 400px;
    }
  </style>
{% endblock commonStyle %}

{% block title %}
  <h1>Hello form</h1>
{% endblock title %}

{% block contents %}
  <img src="{% static 'jeju.jpg' %}" alt=""/>

  <form action="/formex/" method="POST">
    {% csrf_token %}
    <input type="text" name="id" autofocus="autofocus"/>
    <input type="password" name="pw"/>
    <input type="submit" value="submit"/>
  </form>

{% endblock contents %}
